.to-fit-body{
    display: flex;
    margin-bottom: 100px;
}
.h-w-1{
    width: 50%;
    padding-left: 7%;
    padding-right: 3%;
}
.h-w-1 img{
    width: 100%;
}
.h-w-2{
    width: 55%;
    padding-left: 50%;
    padding-right: 80%;
    
}

a{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: #575757;
    font-size: 45px;
}
.first-text{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;

}
p{
    font-family: 'Poppins', sans-serif;
    color: #575757;
}
.text-color-1{
    color: #FBA24F;
}
.text-color-2{
    color: #575757;
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    padding: 10px 25px;
    color: white;
    border-radius: 35px;
    
    
}
.secondsecback{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.fortextfix-1{
    margin-top: 60px;
    padding-left: 35%;
    padding-right: 10%;
    text-align: justify;
}

.textfix-2{
    text-align: center;
}.textfix-4{
    text-align: center;
    padding-right: 15%;
    padding-left: 10%;    
}
.textfix-3{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.forboxshadow{
    margin-left: 6%;
    box-shadow: 2px 2px 100px rgba(128, 128, 128, 0.24);
    width: 12%;
    border-radius: 10px;
    padding-left: 1.1%;
    padding-right: 2.6%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    margin-left: 15%;
}
.fit-body{
    display: flex;
}
h5{
    font-family: 'Poppins', sans-serif;
}

.forboxshadow1{
    margin-top: 150px;
    box-shadow: 3px 3px 100px rgba(128, 128, 128, 0.308);
    
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

footer{
    background-color: #0B0D17;
    margin-top: 80px;
}
.text-gradient{
    background: linear-gradient(
            to right, #FBA24F,#FF1E1E);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}
